/*li a {
    color: rgb(194, 48, 48);
}*/
h1{
    color: rgb(33, 174, 85);
    text-align: center;
    text-transform: uppercase;
}
/*body {
    background: rgb(242, 242, 242) url("images/nebula.jpg") no-repeat;
}*/