<!--
    <h1> to <h6>: first heading to last heading
    <p>: first paragraph
    <br>: none, The <br> tag defines a line break, and is an empty element without a closing tag
    <a href="https://www.w3schools.com">This is a link</a>: create a link
    <img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">: create an image 
-->

<html>
    <body>
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}

            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p> 
        {% endif %}

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    </body>
</html>


<!-- 
    Thẻ <link> xác định mối quan hệ giữa tài liệu hiện tại và tài nguyên bên ngoài.
    Thẻ <link> thường được sử dụng nhất để liên kết đến các biểu định kiểu bên ngoài 
    hoặc để thêm biểu tượng yêu thích vào trang web của bạn.
    Phần tử <link> là một phần tử trống, nó chỉ chứa các thuộc tính.
-->

